@media screen and (min-width: 320px){
	nav{
		display: flex;
	}
	.navlist{
		display: none;
	}
	 .subnav-content {
		display: none;
		background-color:  white;
		width: 7em;
		z-index: 1;
		padding: 20px 0 ;
		margin-left: 0;
		background-color: rgb(0,0,0,0.5);
	  } 
	.subnav-content--link{
		color: white;
		text-decoration: none;
		padding: 0.5em;
		margin:0;
		text-align: center;
	} 
	.subnav:hover .subnav-content {
		display: grid; 
		grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
		margin: 0;
		padding: 1em;
	}  
	
	 .inline{
		text-align: center;
		font-size:2vh;
		font-weight: bold;
		padding-top: 0.3em;
		margin-left: auto;
		margin-right: auto;
	 } 
	
	
}

@media screen and (min-width: 768px) and (min-height:320px) and (orientation:landscape){
	/* Home */
	.home{
		display: flex;
	} 
	.home__container{
		display: flex;	
	}
	.home__container__header{
		margin-right: 5em;
	}
	.home__contact{
		margin-left: -55%;
	}

	/* About */
	.main__about{
		grid-template-columns: 1fr 1fr;
	}
	/* Resume */
	.container{
		grid-template-columns: 1fr 1fr;
	}
	/* Skills */
	.progs{
		grid-template-columns: 1fr 1fr 1fr;
		gap: 15vw;
		width: 15vw;
		height:15vh;	 
	}

	/* Testimonials */
	.testimony__col{
		grid-template-columns: 1fr 1fr;
	}
}

@media screen and (min-width: 1024px){
	nav{
		display: flex;
		justify-content: space-between;
	}
	.subnav{ 
        display: none; 
    } 
    .navlist{ 
        display: flex; 
		justify-content: flex-end;
		margin-left: 20rem;
		margin-top: 0.2rem;
        gap: 4rem; 
        color: rgb(0, 0, 0); 
		font-family: Georgia, 'Times New Roman', Times, serif;
		
    } 
    .navlist--link{ 
        text-decoration: none; 
        color:rgb(0, 0, 0) ; 
    } 
    .navlist--link:hover{ 
        color: rgb(100, 194, 237); 
        opacity: 0.5; 
    } 
    .navlist--link:active{ 
        color: rgb(255,255,255); 
 
    } 

	.inline{
		display: none; 
	} 


		/* Home */
		.home{
			display: flex;
			
		} 
        .home__container{
			display: flex;	
        }
		.home__container__header{
			margin-right: 5em;
		}
		.home__contact{
			margin-left: -55%;
		}


		/* About */

		main{
			display: flex;
		}
		.main__about{
			display: flex;
			height: 100vh;
		}
		.main__hobby{
			width: max-content;
		}
		
		

/* Resume */
		.container{
			grid-template-columns: 1fr 1fr;
		}
/* Skills */
		.progs{
			grid-template-columns: 1fr 1fr 1fr;
			gap: 15vw;
			width: 15vw;
			height:15vh;	 
		}

/* Testimonials */
		.testimony__col{
			grid-template-columns: 1fr 1fr;
		}

/* Contact */
		.form{
			grid-template-columns: 1fr 1fr;
			width:60em;
			
		}
		.form__firstbox{
			border-bottom-left-radius: 2em;
			border-bottom-right-radius: 2em;
			
		}
		.contact__form{
			border-top-right-radius: 2em;
			border-top-left-radius: 2em;
		}
}
 


@media screen and (min-width: 768px){

}

body{
	background-color: #468BA9;
}

.footer{
	position: static;
	bottom: 2em;
	right: 2em;
	color: #fff;
	font-weight: bold;
	display: grid;	
	align-content: end;
	justify-content: end;

}																		




/* Home */

.home{
	display: grid;
	grid-template-rows: auto;
	justify-content: center;
	margin: auto;
	margin-top:7vh;
	margin-bottom: 3em;
	margin-left: 1em;
	margin-right: 1em; 
	border-radius:0.5em;
	background-color: rgb(0,0,0,0.7);
	color:#fafafa;
	padding: 1.5em;
	
	
}
.home__container{
	display: flex wrap;
	justify-content: center;	
	
}
.home__image{
	display: grid;
	width:19em;
	height: 19em;
	margin: auto auto;
	border-radius: 8em; 
 }
.home__container__header{
	display: grid;
	justify-content: center;
	width: 18em;
}
.home__container__header{
	text-align: center;	
	
}
.home__container__header__title{
	color:rgb(100, 194, 237);
	text-align: center;
	font-size: 1.5rem;
}
.home__container__header__description{
	font-size: 1.5rem;
	text-align: center;
}
.home__contact{
	display: grid;
	justify-content: center;
	margin-top: 2em;

}
.home__contact__button{
	width: 30vw;
	height:7vh;
	color: rgb(63, 173, 223);
	font-size:3vh;
	border-radius: 1em;
	border-color: white;
	align-items: center;
}
.home__contact__button:hover{
	background-color: #88a6b3;
	color: #fff;

} 

@keyframes fadeIn {
	from {
	  opacity: 0;
	}
	to {
	  opacity: 1;
	}
  }
  
  #headerText span {
	animation: fadeIn 0.3s linear forwards;
	opacity: 0;
  }

/* About */
.main{
	color:#fafafa;
	display: grid;
	justify-content: center;
	margin: auto;
	margin-top:3em;
	margin-bottom: 1em;
	
	
}
.main__about{
	background-color: rgb(0,0,0,0.7);
	display: flex wrap;
	margin-top: 3em;
	margin-bottom: 1em;
	margin-left: 1em;
	margin-right: 1em;
	border-radius: 0.5em;
	padding-top: 0.4em;
	
	
}
.main__about__mad{
	width:fit-content;
	margin-left: 1em; 
	margin-right: 1em;
	padding-bottom: 1em;
	font-size: 1.5rem;
}
.main__section__title{
	text-align: center;
	color: rgb(100, 194, 237);
}
.main__section__description{
	 padding-top: 0.4em;
	 padding-left: 0.4em;
	 padding-right: 0.4em;
	 padding-bottom: 0;
	 text-align: left;

}
.main__section__quote{
	font-style: italic;
}
.main__about__vid{
	justify-content: center;
	display: flex;
	width: 45vw;
	height: 50vh; 
	align-content: center;
}

.main__about__vid--element[poster]{
	width:30vw;
	height:50vh;
	justify-content: center;
}



/* Hobby   */
.main__hobby{
	background-color: rgb(0,0,0,0.7);
	display: grid;
	margin: auto;
	margin-top: 3em;
	margin-bottom: 1em;
	margin-left: 1em;
	margin-right: 1em;
	padding: 1em;
	border-radius: 0.5em;
	font-size: 1.5rem;
}
.main__hobby__aside__title{
	color: rgb(100, 194, 237);
	text-align: center;
}
.main__hobby__aside{
	display: grid;
}
.main__hobby__aside__description{
	display: grid;
	color: rgb(100, 194, 237);
	margin: 0;
}
.main__hobby__aside__list{
	display: grid;
}
.main__hobby__aside__img--element{
	width: 7em;
	height: 7em;
	margin: 0.5em; 
}
.main__hobby__aside__img{
	display: grid;
	justify-content: end;
}




/* Resume */
.container{
	background-color: rgb(0,0,0,0.7);
	color:#fafafa;
	display: grid;
	justify-content: center;
	margin: auto;
	margin-top:3em;
	margin-bottom: 5%;
	margin-left: 5%;
	margin-right: 5%;
	border-radius: 0.5em;
}
.experience{
	display: grid;
	justify-content: center;
	margin: 10px;

}

.experience__section__description{
	text-align: left;
	padding-left: 0.2em;
}
.experience__section__header{
	text-align: left;
	padding-left: 0.2em;
}
.experience__section{
	display: grid;
	border: 1px solid #fff;
	margin: 10px;
}
.experience__title{
	border:solid #fff;
	color: rgb(100, 194, 237);
	border-bottom: 1px ;
	border-radius: 10px;
	margin: 10px;
	text-align: center; 
	width:170px;
	
}
.experience__section__role{
	font-weight:lighter;
	color: rgb(100, 194, 237);
	padding-left: 0.2em;
	
}
.education{
	display: grid;
	margin: 10px;

}

.education__section{
	display: grid;
	border: 1px solid #fff;
	margin: 10px;

}
.education__section__description{
	text-align: left;
	padding-left: 0.2em;
}
.education__section__header{
	text-align: left;
	padding-left: 0.2em;
}
.education__title{
	border:solid #fff;
	color: rgb(100, 194, 237);
	border-bottom: 1px ;
	border-radius: 10px;
	margin: 10px;
	text-align: center; 
	width:170px;
	
}
.education__section__time{
	font-weight:lighter;
	color: rgb(100, 194, 237);
	padding-left: 0.2em;
	
}
.download__button{
	width: 30vw;
	height:7vh;
	color: rgb(63, 173, 223);
	font-size:3vh;
	border-radius: 1em;
	border-color: white;
	align-items: center;
}
.button a{
	text-decoration: none;
}
.download__button:hover{
	background-color: #88a6b3;
	color: #fff;

} 


/* Skills */
.skills__title{
	font-size:4vh;
	font-family: 'Times New Roman', Times, serif;
	color: #000;
	font-weight: bolder;
	text-align: center;
}
.skills{
	display: grid;
	justify-content: center;
	color:#fff;
}

.progs{
	background-color: rgb(0,0,0,0.7);
	margin: 3vw;
	display: grid;
	justify-content: center;
	padding: 25vw;
	padding-top: 5vh;
	padding-bottom: 5vh;
	border: 1px solid rgb(100, 194, 237);
	border-radius: 0.8em;
}
.skills .progs:hover{
	transform: scale(1.05);
	box-shadow: 0 0 20px 20px rgba(0, 0, 0, 0.1);
}

.progs__title{
	display: grid;
	justify-content: center;
	font-size:5vh;
	
}
.progs__level{
	display: grid;
	justify-content: center;
	font-size: 4vh;
	padding-top: 0vh;
	padding-bottom: 0.5vh;
}
.progs__web{
	display: grid;
	justify-content: center;
}
.progs__web--element{
	display: grid;
	justify-content: center;
	width:4em;
	height:4em;
	
}


/* Testimonial */


.testimony__col{
    border-radius: 1em;
	background: rgb(0,0,0,0.7);
    padding-right: 1em;
	padding-left: 1em;
	padding-top: 1.5em;
	padding-bottom: 5em;
    display: grid;
	justify-content: center;
	margin-top: 10vh;
	margin-bottom: 10vh;
	margin-left: 2.5vw;
	margin-right: 2.5vw; 
	color: #fff;
}

.testimony__col__image{
    height: 20rem;
	width: 20rem;
    margin: auto;
	align-items: center;
    border-radius: 5em;
}
.testimony__col__header{
	display: grid;
    padding: 0;
	color: #468BA9;
}
.testimony__col__name{
    text-align: left;
	color: #468BA9;
	font-size: 2rem;
}
.testimony__col__position{
	font-size: 1.3rem;
}

.testimony__col__qoute{
    text-align: center;
	font-size: 1.5rem;
}





/* Contact */

/* the whole contact page */
.form{
    padding-right: 1em;
	padding-left: 1em;
	padding-bottom: 2em;
    display: grid;
	margin: auto;
	margin-top: 3em;

	
}


.contact__form__title{
	text-align: left;
	color: #62b7db;
	font-size: x-large;
}

/* First box as a whole */
.contact__info{
	border-top-right-radius: 2em;
	border-top-left-radius: 2em;
	background: rgb(255,255,255,0.7);
	display: grid;
	padding: 2rem 2rem;
    color: #3489ad;
    
}
.form__firstbox{
	background: rgb(255,255,255,0.7);
	border-top-right-radius: 2em;
	border-top-left-radius: 2em;
}
.contact__info__info{
	display: grid;
}
.information{
	display: grid;
	grid-template-columns: 1.5em 15em ;
	/* gap: 0.5em; */
	color: #555;
	margin: 0.7rem 0;
	align-items: center;
	font-size: 0.95rem;
}

.information__icons{
	margin-right: 0.7rem;
}






/* Social media icons */
.social__media{
	padding: 2rem 0 0 2em;
	margin-bottom:10px;
    
}
.social__media__title{
	color: black;
	font-size: 20px;
	font-weight:lighter;
}
.social__media__icons{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	margin-top: 0.5rem;
	margin-left: 1em;
	margin-right: 1em ;
}
.icons__list{
	width: 35px;
	height: 35px;
	border-radius: 5px;
	background: linear-gradient(45deg, rgb(139, 178, 251),  #3489ad);
	color: #fff;
	text-align: center;
	line-height: 35px;
	margin-right: 0.5rem;
}
.social__media__icons .icons__list:hover{
	transform: scale(1.05);
}



/* Second box */

.contact__form{
	background-color: rgb(0,0,0,0.7);
	display: grid;
	padding: 2rem 2rem;
    color: #3489ad;
	border-bottom-left-radius: 2em;
	border-bottom-right-radius: 2em;

}
.contact__form__title{
	font-size: x-large;
}
form{
	display: grid;
	padding-left: 0.5em;
}


.contact__form__input--inside{
	margin: 0.5em;
	background-color: white;
	width: 15em;
	height: 2.5em;
	border: 0;
	border-radius: 0.8em;
	padding-left: 1em;

}
.contact__form__textarea--inside{
	border-radius: 0.8em;
	margin: 0.5em;
	width: 15em;
	height: 3em;
	padding-left: 1em;
	padding-top: 0.5em;
}


label{
	color: white;
	font-size: 1.1rem;
	font-weight: 400;
	margin: 0.5em;	
}
.contact__form__checkbox{
	margin-left: 3em;
}


.contact__form__radio{
	margin-left: 2em;

}
/* send button */
.button{
	display: grid;
	justify-content: center;
}
.button--primary{
	padding: 0.6rem 1.3rem;
	background-color: #fff;
	border: 2px solid #fafafa;
	font-size: 0.95rem;
	color: #3489ad;
	line-height: 1;
	border-radius: 1.5em;
    transition: 0.3s;
    margin-top: 1.5em;
	
}
.button--primary:hover{
	background-color: #88a6b3;
	color: #fff;

}
.phone__message{
	display:none
}
#overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	display: none;
  }
  
  #overlayContent {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: white;
	padding: 20px;
	text-align: center;
  }